<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Violetis Test Suite" parallel="false">

    <!-- ✅ Activate Listeners (Extent Reports, Screenshots) -->
    <listeners>
        <listener class-name="com.violetis.Utilities.ExtentTestListener"/>
    </listeners>

    <test name="Violetis Tests">
        <classes>
            <class name="com.violetis.Tests.HomePageTest"/>
            <class name="com.violetis.Tests.SignUpTest"/>
        </classes>
    </test>

</suite>